<div class="container">
    <a routerLink="home">Homepage</a>

    <h2>List student</h2>

    <a routerLink="/student/form" class="nav-link mb-3">Add students</a>
    <table class="table tabel-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Class</th>
                <th>status</th>
                <th>Service</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let std of students">
                <td>{{std.id}}</td>
                <td>{{std.name}}</td>
                <td>{{std.class}}</td>
                <td>
                    <app-status-btn [status]="std.status"
                    (changeStatus)="parentChangeStatus($event,std)"></app-status-btn>
                </td>

                <td>
                    <button class="btn btn-danger" id="btn-remove" (click)="remove(std.id)">remove</button>
                    <a href="student-detail/{{std.id}}" class="btn btn-info">Detail</a>
                    <a href="student/form/{{std.id}}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- add user -->
    <h2>ADD USERS</h2>



</div>