<div class="container">
    <h2 class="login-title">DA chay man hinh login!!</h2>

    <form action="">
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" value="{{username}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>


</div>