<p>student-form works!</p>

<h3>Form student</h3>
<form action="" method="post" #studentForm="ngForm" (submit)="onSubmit(studentForm.value)">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" required minlength="4" [(ngModel)]="student.name" name="name" placeholder="name" class="form-control" id="name" #name="ngModel" required="">

        <!-- check neu co loi nao la .. thi in ra ... -->
    </div>

    <div class="form-group">
        <label for="">Class</label>
        <input type="text" [(ngModel)]="student.class" name="class" placeholder="class" class="form-control" id="class" #class="ngModel" required="">
    </div>

    <div *ngIf="studentForm.form.dirty" class="text-danger">
        <p *ngIf="name.errors?.['required']">Tên không được để trống</p>
        <p *ngIf="name.errors?.['minlength']">Tên tối thiểu 6 ký tự</p>
        <p *ngIf="class.errors?.['required']">Lớp không được để trống</p>
        <p *ngIf="class.errors?.['maxlength']">Lớp tối đa 32 ký tự</p>
    </div>

    <div><button class="btn btn-info" [disabled]="studentForm.form.invalid">Submit</button></div>


</form>